<div [@routerTransition]>
    <app-page-header [location]="'CRUD Example'" [locationurl]="'/dashboard'" [heading]="'CRUD'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">Raw Data</div>
                <div class="card-body contains-table table-responsive">
                    <table class="table table-hover table-striped table-sm table-no-margin">
                        <thead>
                        <tr>
                            <th>UserId</th>
                            <th>CrudId</th>
                            <th>String</th>
                            <th>Date</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rw of DataListRaw; let i = index;">
                            <td class="text-nowrap">{{ rw.UserId }}</td>
                            <td class="text-nowrap">{{ rw.CrudId }}</td>
                            <td class="text-nowrap">{{ rw.StringExample }}</td>
                            <td class="text-nowrap">{{ rw.DateExampleBS }}</td>
                            <td class="text-nowrap">{{ rw.NumberExample }}</td>
                        </tr>
                        <tr *ngIf="DataCountRaw === 0">
                            <td colspan="5">No results returned from the database</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary text-white">Cleaned Data Against Model</div>
                <div class="card-body table-responsive table-sm">
                    <table class="table table-hover table-striped table-bordered table-no-margin">
                        <thead>
                        <tr>
                            <th style="width: 130px;"></th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rw of DataList; let i = index;">
                            <td>
                                <button class="btn btn-sm" (click)="editRow(rw,i)" placement="top" ngbTooltip="Edit on page"><i class="fa fa-edit"></i></button>&nbsp;
                                <button class="btn btn-sm" (click)="editRowInModal(rw,i)" placement="top" ngbTooltip="Edit in a Modal Window"><i class="fas fa-pen-square"></i></button>&nbsp;
                                <button class="btn btn-sm" (click)="deleteRow(rw, i)" placement="top" ngbTooltip="Delete the row"><i class="fas fa-trash"></i></button>
                            </td>
                            <td class="text-nowrap">{{ rw.StringExample }}</td>
                            <td class="text-nowrap">{{ rw.DateExampleBS.year }}-{{ rw.DateExampleBS.month }}-{{ rw.DateExampleBS.day }}</td>
                            <td class="text-nowrap">{{ rw.NumberExample }}</td>
                        </tr>
                        <tr *ngIf="DataCountRaw === 0">
                            <td colspan="5">No results returned from the database</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button *ngIf="!ShowMore" class="btn btn-primary btn-sm" (click)="limitSearch()">Limit to 2 Records</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadPrevious()">Load Previous records</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadMore()">Load next records</button>
                    <button class="btn btn-primary btn-sm" (click)="sortSearch()">Sort By Date</button>
                    <button class="btn btn-primary btn-sm" (click)="dataReset()">Reset</button>
                    <button class="btn btn-primary btn-sm" (click)="addRandomRecord()">Add Random Record</button>
                    <button class="btn btn-primary btn-sm" (click)="addNewRecord()">Add Record</button>
                </div>
            </div>
        </div>
    </div>
    <form role="form" [formGroup]="CrudForm">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">Basics</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Name <span class="explain">String Example</span></label>
                            <input type="text" class="form-control input-underline input-lg" name="StringExample" formControlName="StringExample" placeholder="String Example">
                        </div>
                        <div class="form-group">
                            <label>Visits <span class="explain">Number Example</span></label>
                            <input type="number" class="form-control input-underline input-lg" name="NumberExample" formControlName="NumberExample" placeholder="Number Example">
                        </div>
                        <div class="form-group">
                            <label>Description <span class="explain">Text Area</span></label>
                            <textarea class="form-control" rows="3" name="TextAreaExample" formControlName="TextAreaExample" placeholder="Type some text here"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Dates</div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            <strong>Heads up!</strong> AWS Dynamo saves a date in UTC format YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS
                        </div>
                        <div class="form-group">
                            <label>DOB <span class="explain">Date Example Native (Doesn't work in Safari Desktop and IE / Edge)</span></label>
                            <input type="date" class="form-control input-underline input-lg" name="DateExample" formControlName="DateExample" placeholder="Date Example">
                        </div>
                        <div class="form-group">
                            <label>DOB <span class="explain">Date Example NgBootStrap</span></label>
                            <div class="input-group datepicker-input">
                            <input class="form-control" name="DateExampleBS" formControlName="DateExampleBS" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd">
                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                                <span class="fa fa-calendar"></span>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">Select</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="SelectExample" formControlName="SelectExample">
                                <option value="">Select...</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Checkboxes</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>What is your favourite animals?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CheckBoxExample" formControlName="CheckBoxExample"> Dogs
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CheckBoxExample2" formControlName="CheckBoxExample2"> Cats
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Radio Button</div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Do you prefer Red or White wine?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="RadioButton" value="red" formControlName="RadioButton"> Red
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="RadioButton" value="white" formControlName="RadioButton"> White
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">Object Example</div>
                    <div class="card-body">
                        <div class="form-group" formGroupName="ObjectExample">
                            <label>Field 1</label>
                            <input type="text" class="form-control input-underline input-lg" name="Field1" formControlName="Field1" placeholder="String Example">
                        </div>
                        <div class="form-group" formGroupName="ObjectExample">
                            <label>Field 2</label>
                            <input type="text" class="form-control input-underline input-lg" name="Field2" formControlName="Field2" placeholder="String Example">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">Array Example</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered table-no-margin">
                            <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th><button class="btn btn-sm" (click)="AddANewRow()">Add Row</button></th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let item of CrudForm.get('ArrayExample').controls; let i = index;" formArrayName="ArrayExample">
                            <tr [formGroupName]="i">
                                <td><input type="text" class="form-control input-underline input-lg" name="RowField1" formControlName="RowField1" placeholder="New"></td>
                                <td><input type="text" class="form-control input-underline input-lg" name="RowField2" formControlName="RowField2" placeholder="Row"></td>
                                <td><button class="btn btn-sm" (click)="DeleteARow(i)">Delete</button></td>
                            </tr>
                            <tr *ngIf="CrudForm.get('ArrayExample').controls === 0">
                                <td colspan="5">No rows in the array</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="!isLoading">
                    <button class="btn rounded-btn btn-block btn-primary" (click)="saveForm()" [disabled]="disableSubmit"> Update </button>
                </div>
                <div class="loader" *ngIf="isLoading"></div>
            </div>
        </div>
    </form>   
</div>