<div class="row" class="{{HeaderStyle}}">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{heading}}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="location">
                <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="[locationurl]"> {{location}}</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{heading}}</li>
        </ol>
    </div>
</div>
