.page-header-outer {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
}

.breadcrumb {
    padding: 0;
    background: transparent;
}
.breadcrumb-item {
    font-size: 0.8em;
    color: #868e96;
}
.breadcrumb-item a {
    color: #868e96;
}