<div [@routerTransition]>
    <app-page-header [location]="'CRUD Template'" [locationurl]="'/dashboard'" [heading]="'CRUD Template'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col">

            <div class="card mb-3">
                <div class="card-header bg-primary text-white">Cleaned Data Against Model</div>
                <div class="card-body">
                    <form role="form" [formGroup]="SearchForm">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" name="StringExample" formControlName="StringExample" placeholder="What are you looking for?">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" (click)="scanData()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div>
                            <span>Date between: 
                                <span *ngIf="fromDateTxt == ''">Not set &nbsp;</span>
                                <span *ngIf="fromDateTxt != ''"><strong class="text-primary">{{ fromDateTxt }}</strong> to <strong class="text-primary">{{ toDateTxt }}</strong>  &nbsp;</span> 
                                <button *ngIf="!showDateRangePicker" class="btn btn-sm btn-primary" (click)="showDateRange()">Change</button> &nbsp;
                                <button *ngIf="fromDateTxt != ''" class="btn btn-sm btn-primary" (click)="clearDateRange()">Clear</button> &nbsp;
                                <button *ngIf="showDateRangePicker" class="btn btn-sm btn-primary" (click)="showDateRangePicker = false">Cancel</button> &nbsp;
                            </span>
                            <div *ngIf="showDateRangePicker" style="margin-top: 10px">
                                <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                                </ngb-datepicker>
                                
                                <ng-template #t let-date let-focused="focused">
                                <span class="custom-day"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                                </ng-template>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive table-sm">
                    <table class="table table-hover table-striped table-bordered table-no-margin">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 100px;"></th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rw of DataList; let i = index;">
                            <td>
                                <button class="btn btn-sm" (click)="editRowInModal(rw,i)" placement="top" ngbTooltip="Edit in a Modal Window"><i class="fas fa-pen-square"></i></button>&nbsp;
                                <button class="btn btn-sm" (click)="deleteRow(rw, i)" placement="top" ngbTooltip="Delete the row"><i class="fas fa-trash"></i></button>
                            </td>
                            <td class="text-nowrap"><img src="{{ rw.ImageAsBase64 }}" width="80" height="80"/></td>
                            <td class="text-nowrap">{{ rw.StringExample }}</td>
                            <td class="text-nowrap">{{ rw.DateExampleBS.year }}-{{ rw.DateExampleBS.month }}-{{ rw.DateExampleBS.day }}</td>
                            <td class="text-nowrap">{{ rw.NumberExample }}</td>
                        </tr>
                        <tr *ngIf="DataCountRaw === 0">
                            <td colspan="5">No results returned from the database</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button *ngIf="!ShowMore" class="btn btn-primary btn-sm" (click)="limitSearch()">Limit to 2 Records</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadPrevious()">Load Previous records</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadMore()">Load next records</button>
                    <button class="btn btn-primary btn-sm" (click)="sortSearch()">Sort By Date</button>
                    <button class="btn btn-primary btn-sm" (click)="dataReset()">Reset</button>
                    <button class="btn btn-primary btn-sm" (click)="addRandomRecord()">Add Random Record</button>
                    <button class="btn btn-primary btn-sm" (click)="addNewRecord()">Add Record</button>
                </div>
            </div>
        </div>
    </div> 
</div>