$topnav-background-color: #CCCCCC;
:host {
    .navbar {
        background: url("../../../../assets/images/bgtr.svg") top right no-repeat, url("../../../../assets/images/bgbl.svg") bottom left no-repeat, url("../../../../assets/images/bgbl.svg") bottom left no-repeat, url("../../../../assets/images/overlay.png"), linear-gradient(45deg, #E67C81, #4E7D7D, #4E7D7D);
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            font-size: 0.8em;
            color: #efefef;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
