<div class="modal-header">
    <h4 class="modal-title">Modal Title</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <form role="form" [formGroup]="CrudFormModal">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">Basics</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Name <span class="explain">String Example</span></label>
                            <input type="text" class="form-control input-underline input-lg" name="StringExample" formControlName="StringExample" placeholder="String Example">
                        </div>
                        <div class="form-group">
                            <label>Number Example</label>
                            <input type="number" class="form-control input-underline input-lg" name="NumberExample" formControlName="NumberExample" placeholder="Number Example">
                        </div>
                        <div class="form-group">
                            <label>Text Area</label>
                            <textarea class="form-control" rows="3" name="TextAreaExample" formControlName="TextAreaExample" placeholder="Type some text here"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Dates</div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            <strong>Heads up!</strong> AWS Dynamo saves a date in UTC format YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS
                        </div>
                        <div class="form-group">
                            <label>Date Example Native (Doesn't work in Safari Desktop and IE / Edge)</label>
                            <input type="date" class="form-control input-underline input-lg" name="DateExample" formControlName="DateExample" placeholder="Date Example">
                        </div>
                        <div class="form-group">
                            <label>Date Example NgBootStrap</label>
                            <div class="input-group datepicker-input">
                            <input class="form-control" name="DateExampleBS" formControlName="DateExampleBS" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd">
                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                                <span class="fa fa-calendar"></span>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">Select</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="SelectExample" formControlName="SelectExample">
                                <option value="">Select...</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Checkboxes</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>What is your favourite animals?</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CheckBoxExample" formControlName="CheckBoxExample"> Dogs
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="CheckBoxExample2" formControlName="CheckBoxExample2"> Cats
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Radio Button</div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Do you prefer AP or Hublot?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="RadioButton" value="AP" formControlName="RadioButton"> AP
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="RadioButton" value="Hublot" formControlName="RadioButton"> Hublot
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">Object Example</div>
                    <div class="card-body">
                        <div class="form-group" formGroupName="ObjectExample">
                            <label>Field 1</label>
                            <input type="text" class="form-control input-underline input-lg" name="Field1" formControlName="Field1" placeholder="String Example">
                        </div>
                        <div class="form-group" formGroupName="ObjectExample">
                            <label>Field 2</label>
                            <input type="text" class="form-control input-underline input-lg" name="Field2" formControlName="Field2" placeholder="String Example">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">Array Example</div>
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered table-no-margin">
                            <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th><button class="btn btn-sm" (click)="AddANewRow()">Add Row</button></th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let item of CrudFormModal.get('ArrayExample').controls; let i = index;" formArrayName="ArrayExample">
                            <tr [formGroupName]="i">
                                <td><input type="text" class="form-control input-underline input-lg" name="RowField1" formControlName="RowField1" placeholder="New"></td>
                                <td><input type="text" class="form-control input-underline input-lg" name="RowField2" formControlName="RowField2" placeholder="Row"></td>
                                <td><button class="btn btn-sm" (click)="DeleteARow(i)">Delete</button></td>
                            </tr>
                            <tr *ngIf="DataCountRaw === 0">
                                <td colspan="5">No results returned from the database</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="cropcanvas">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="file-upload">
                            <span class="text">upload</span>
                            <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                        </div>
                        Image crop and upload
                    </div>
                    <div class="card-body contains-table">
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                                <div style="text-align: center">
                                        <img-cropper #cropper [image]="imgData" [settings]="cropperSettings"></img-cropper>
                                </div>
                                
                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                                <img [src]="imgData.image" class="responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
        <button class="btn rounded-btn btn-primary" (click)="saveForm()"> Update </button>
        <button class="btn rounded-btn btn-primary" (click)="activeModal.dismiss('Close clicked')">Close</button>
  </div>