<div>
	<app-page-header [location]="'Locations'" [locationurl]="'/locations'" [heading]="'Users'" [icon]="'fa-bar-chart-o'"></app-page-header>
	<form role="form">
		<div class="row">
			<div class="col table-responsive">
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th><button class="btn btn-sm" (click)="editRowInModal(rw,i)" placement="top" ngbTooltip="Edit in a Modal Window"><i class="fas fa-pen-square"></i></button>&nbsp;</th>  
							<th>First Name</th>
							<th>Last Name</th>
							<th></th>
			  		</tr>
			  	</thead>
			  	<tbody>
						<tr>
							<td></td>
							<td>Bob</td>
							<td>Smith</td>
							<td></td>
						</tr>
			  	</tbody>
		  	</table>
		  </div>
	  </div>
  </form>
</div>