<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>{{ sitename }}</h1>
            <form role="form" [formGroup]="userinformationForm">
                <div class="form-content" *ngIf="showScreen == 'login'">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" [(ngModel)]="userinformation.email" name="email" formControlName="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [(ngModel)]="userinformation.password" name="password" formControlName="password" placeholder="Password">
                    </div>

                    <div *ngIf="!isLoading">
                        <button class="btn rounded-btn btn-block" [routerLink]="['/dashboard']" (click)="onSubmit()" [disabled]="userinformation.email == '' || userinformation.password == ''"> Log in </button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="troubleLoginIn()">Trouble Logging in?</button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" [routerLink]="['/signup']">Register</button>
                    </div>
                    
                    <div class="loader" *ngIf="isLoading"></div>
                </div>

                <div class="form-content" *ngIf="showScreen == 'trouble'">
                    <p>Please enter your registered e-mail below and we will send you a password reset pin to your inbox.</p>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [(ngModel)]="userinformation.email" name="email" formControlName="email" placeholder="Email">
                    </div>
                    <div *ngIf="!isLoading">
                        <button class="btn rounded-btn btn-block" (click)="sendRecoveryPin()"> Send a recovery pin </button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="havePin()">I have a recovery pin...</button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="backToLogin()">Cancel</button>
                    </div>
                    <div class="loader" *ngIf="isLoading"></div>
                </div>

                <div class="form-content" *ngIf="showScreen == 'havepin'">
                        <p>Please enter your password reset pin and registered e-mail below and choose a new password.</p>
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" [(ngModel)]="userinformation.email" name="email" formControlName="email" (ngModelChange)="validateEmail()" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" [(ngModel)]="userinformation.recoverypin" name="recoverypin" formControlName="recoverypin" placeholder="Recovery pin">
                        </div>
                        <div>
                            <span *ngIf="passError" style="color: red;">Your password must contain:<br/> </span>
                            <span *ngIf="passLenghtError" style="color: red;">At least 8 characters<br/></span>
                            <span *ngIf="passLowerCaseError" style="color: red;">At least one lowercase letter (abc).<br/></span>
                            <span *ngIf="passUpperCaseError" style="color: red;">At least one uppercase letter (ABC).<br/></span>
                            <span *ngIf="passNumberError" style="color: red;">At least one number (123).<br/></span>
                            <span *ngIf="passSpecialError" style="color: red;">At least one special char (!#$%&? ).<br/></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" [(ngModel)]="userinformation.newpassword" name="newpassword" formControlName="newpassword" (ngModelChange)="checkPassword()" placeholder="Password">
                        </div>
                        <div *ngIf="passMatchFail" style="color: red;"><span>Passwords don't match</span></div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" [(ngModel)]="userinformation.confirmpassword" name="confirmpassword" formControlName="confirmpassword" (ngModelChange)="passwordMatch()" placeholder="Confirm Password">
                        </div>

                        <div *ngIf="!isLoading">
                            <button class="btn rounded-btn btn-block" (click)="changePassword()"> Change password </button>
                            <div class="spacer" style="height: 15px;"></div>
                            <button class="btn rounded-btn btn-block" (click)="troubleLoginIn()">Cancel</button>
                        </div>
                        <div class="loader" *ngIf="isLoading"></div>
                    </div>
                
            </form>
        </div>
    </div>
</div>
