/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";

.navbar {
  background-color: #CCCCCC;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(50, 50, 50, 0.2);
  border-right: 1.1em solid rgba(50, 50, 50, 0.2);
  border-bottom: 1.1em solid rgba(50, 50, 50, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.form-h2 {
  border-bottom: #CCCCCC solid 1px;
  padding-bottom: 8px;
  margin-top: 10px;
  font-size: 1.5em;
  color: #666666;
}

.modal-header {
  // background: linear-gradient(45deg, #6ab1e7, #02288a, #037b1a);
  // background-color: #02288a; E67C81 4E7D7D
  background-color: #4E7D7D;
  padding: 10px;
}
.modal-title {
  color: #ffffff;
  font-size: 1em;
}
.modal-body {
  font-size: 0.8em;
}
.modal-footer {
  padding: 10px;
}
.contains-table {
  padding: 0;
}
.table-no-margin {
  margin: 0;
}
.card-footer .btn {
  margin-right: 5px;
}

.loaderouter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2040;
  background-color: #000;
  opacity: 0.5;
  padding-top: 15%;
}

.ng-dropdown-panel {
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: 3000 !important;
  -webkit-overflow-scrolling: touch;
}