<div class="modal-header">
    <h4 class="modal-title">{{ ModalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <ngb-tabset>
        <ngb-tab title="Details">
            <ng-template ngbTabContent>
                <div style="height: 15px;"></div>
                <form role="form" [formGroup]="LocationsFormModal">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">Basics</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>{{ LocationAlias }} Name</label>
                                        <input type="text" class="form-control input-underline input-lg" name="LocationName" formControlName="LocationName" placeholder="What is your {{ LocationAlias }} called?">
                                    </div>
                                    <div class="form-group">
                                        <label>Building Name / Number</label>
                                        <input type="text" class="form-control input-underline input-lg" name="BuildingNumber" formControlName="BuildingNumber" placeholder="38">
                                    </div>
                                    <div class="form-group">
                                        <label>Street</label>
                                        <input type="text" class="form-control input-underline input-lg" name="Street1" formControlName="Street1" placeholder="Your Street">
                                    </div>
                                    <div class="form-group">
                                        <label>Street Continued</label>
                                        <input type="text" class="form-control input-underline input-lg" name="Street2" formControlName="Street2" placeholder="...">
                                    </div>
                                    <div class="form-group">
                                        <label>Town / City</label>
                                        <input type="text" class="form-control input-underline input-lg" name="Town" formControlName="Town" placeholder="Finchley">
                                    </div>
                                    <div class="form-group">
                                        <label>County / State / Province</label>
                                        <input type="text" class="form-control input-underline input-lg" name="County" formControlName="County" placeholder="London">
                                    </div>
                                    <div class="form-group">
                                        <label>Post Code / Zip Code</label>
                                        <input type="text" class="form-control input-underline input-lg" name="PostCode" formControlName="PostCode" placeholder="N3 1FY">
                                    </div>
                                    <div class="form-group">
                                        <label>Region</label>
                                        <input type="text" class="form-control input-underline input-lg" name="Region" formControlName="Region" placeholder="England">
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <ng-select
                                            [items]="CountriesList"
                                            bindLabel="name"
                                            bindValue="alpha2Code"
                                            formControlName="Country">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6" id="cropcanvas">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="file-upload">
                                        <span class="text">Change</span>
                                        <input id="custom-input" type="file" (change)="showCanvas = true;fileChangeListener($event)">
                                    </div>
                                    {{ LocationAlias }} Image
                                    <button *ngIf="showCanvas" class="btn btn-primary btn-sm" (click)="showCanvas = false">Done</button>
                                </div>
                                <div class="card-body contains-table">
                                    <div *ngIf="showCanvas">
                                        <div style="text-align: center">
                                            <img-cropper #cropper [image]="imgData" [settings]="cropperSettings"></img-cropper>
                                        </div>
                                    </div>
                                    <div>
                                        <img [src]="imgData.image" class="responsive">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary btn-sm" (click)="addNewRecord()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
        <ng-template ngbTabTitle>Invites</ng-template>
            <ng-template ngbTabContent>
                <div style="height: 15px;"></div>
                <!-- <div class="card mb-3">
                    <div class="card-header">Send invite to existing users</div>
                    <div class="card-body">
                        <form role="form" [formGroup]="SearchForm">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="SearchUserName" formControlName="SearchUserName" placeholder="Enter user name or email address">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" (click)="scanData()"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="card mb-3">
                    <div class="card-header">Send invite to existing users</div>
                    <div class="card-body">
                        <form role="form" [formGroup]="SendInviteByEmail">
                            <div class="form-group">
                                <label>Email address of the person you would like to invite</label>
                                <input type="text" class="form-control input-underline input-lg" name="InviteEmail" formControlName="InviteEmail" placeholder="person@gmail.com">
                            </div>
                            <div class="form-group">
                                <label>Message you would like to send</label>
                                <textarea class="form-control" rows="3" name="InviteMessage" formControlName="InviteMessage" placeholder=""></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm" (click)="sendInvite()">Send invite</button>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Outstanding invites</div>
                    <div class="card-body">
                            <div class="card-body table-responsive table-sm">
                                <table class="table table-hover table-striped table-bordered table-no-margin">
                                    <thead>
                                    <tr>
                                        <th style="width: 130px;"></th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Sent</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let rw of InviteList; let i = index;">
                                        <td>
                                            <button class="btn btn-sm" (click)="DeleteInvite(rw, i)" placement="top" ngbTooltip="Delete invite"><i class="fas fa-trash"></i></button>
                                        </td>
                                        <td class="text-nowrap">{{ rw._source.ToName }}</td>
                                        <td class="text-nowrap">{{ rw._source.ToEmail }}</td>
                                        <td class="text-nowrap">{{ rw._source.SentDate }}</td>
                                    </tr>
                                    <tr *ngIf="InviteListCnt === 0">
                                        <td colspan="5">No outstanding invites</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm" (click)="sendInvite()">Send invite</button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Permissions" [disabled]="true">
        <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </ng-template>
        </ngb-tab>
    </ngb-tabset>
    
  </div>
  <div class="modal-footer">
        <button class="btn rounded-btn btn-primary" (click)="saveForm()"> {{ ButtonTitle }} </button>
        <button class="btn rounded-btn btn-primary" (click)="activeModal.dismiss('Close clicked')">Close</button>
  </div>