<div [@routerTransition]>
    <app-page-header [location]="'Account'" [locationurl]="'/dashboard'" [heading]="'Account'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <form role="form" [formGroup]="AccountForm">
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-header">Basic Information</div>
                <div class="card-body">
                   
                        <div class="form-content" *ngIf="!confirmUser">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control input-underline input-lg" name="name" formControlName="name" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control input-underline input-lg" name="email" formControlName="family_name" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <div class="input-group datepicker-input">
                                    <input class="form-control" name="birthdate" formControlName="birthdate" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd">
                                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                                        <span class="fa fa-calendar"></span>
                                    </button>
                                    </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" name="gender" formControlName="gender">
                                    <option value="">Select...</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Short intro</label>
                                <textarea class="form-control" name="profile" formControlName="profile" placeholder="A bit about yourself..." rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Website</label>
                                <input type="text" class="form-control input-underline input-lg" name="website" formControlName="website" placeholder="https://itsonamap.com">
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" name="address" formControlName="address" placeholder="123 Street, Peckham, London, S12 4WE" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control input-underline input-lg" name="phone_number" formControlName="phone_number" placeholder="Phone Number">
                            </div>

                            <div>
                                <div *ngIf="saveError" class="alert alert-danger">
                                    <strong>Alert!</strong> An error occured. Please check your data and try again.
                                </div>
                            </div>

                            <div *ngIf="!isLoading">
                                <button class="btn rounded-btn btn-block btn-primary" (click)="updateUserDetails()" [disabled]="disableSubmit"> Update </button>
                            </div>
                            <div class="loader" *ngIf="isLoading"></div>
                            
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-header">Login Details</div>
                <div class="card-body">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email" class="form-control input-underline input-lg" name="email" formControlName="email" placeholder="E-mail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>