<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>{{ sitename }}</h1>
            <form role="form">
                <div class="form-content" *ngIf="!confirmUser">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [formControl]="firstname" (ngModelChange)="controlSubmit()" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [formControl]="lastname" (ngModelChange)="controlSubmit()" placeholder="Last Name">
                    </div>
                    <div *ngIf="emailError" style="color: red;">Enter a valid e-mail</div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [formControl]="email" (ngModelChange)="validateEmail()" placeholder="Email">
                    </div>
                    <div>
                        <span *ngIf="passError" style="color: red;">Your password must contain:<br/> </span>
                        <span *ngIf="passLenghtError" style="color: red;">At least 8 characters<br/></span>
                        <span *ngIf="passLowerCaseError" style="color: red;">At least one lowercase letter (abc).<br/></span>
                        <span *ngIf="passUpperCaseError" style="color: red;">At least one uppercase letter (ABC).<br/></span>
                        <span *ngIf="passNumberError" style="color: red;">At least one number (123).<br/></span>
                        <span *ngIf="passSpecialError" style="color: red;">At least one special char (!#$%&? ).<br/></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [formControl]="password" (ngModelChange)="checkPassword()" placeholder="Password">
                    </div>
                    <div *ngIf="passMatchFail" style="color: red;"><span>Passwords don't match</span></div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [formControl]="passwordconfirm" (ngModelChange)="passwordMatch()" placeholder="Repeat Password">
                    </div>
                    <div *ngIf="!isLoading">
                        <button class="btn rounded-btn btn-block" (click)="onSubmit()" [disabled]="disableSubmit"> Register </button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="onDoConfirm()" > Enter validation code </button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" [routerLink]="['/login']"> Log in </button>
                    </div>
                    <div class="loader" *ngIf="isLoading"></div>
                </div>
                

                <div *ngIf="confirmUser">
                    <p>Please enter your registered e-mail and validation code below</p>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [formControl]="email" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [formControl]="validationCode" placeholder="Validation code">
                    </div>
                    <div *ngIf="!isLoading">
                        <div class="spacer" style="height: 20px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="onConfirm()" ng-disabled="email.value == '' || validationCode.email == ''">Validate</button>
                        <div class="spacer" style="height: 15px;"></div>
                        <button class="btn rounded-btn btn-block" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="loader" *ngIf="isLoading"></div>
                  </div>
            </form>
        </div>
    </div>
</div>
