<div [@routerTransition]>
    <app-page-header [location]="'Blank Page'" [locationurl]="'/dashboard'" [heading]="'Account'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <form role="form" [formGroup]="CrudForm">
        <div class="row">
            <div class="col col-sm-6">
                
            </div>
            <div class="col col-sm-6">
                
            </div>
        </div>
    </form>
</div>