<div [@routerTransition]>
    <app-page-header [location]="'Shops'" [locationurl]="'/dashboard'" [heading]="'Shops'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">{{ LocationAlias }}s I added</div>
                <div class="card-body contains-table table-responsive">
                    <table class="table table-hover table-striped table-no-margin table-sm">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 100px;"></th>
                            <th>{{ LocationAlias }}</th>
                            <th>Town</th>
                            <th>Post Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rw of DataList; let i = index;">
                            <td>
                                <button class="btn btn-sm" (click)="editRowInModal(rw,i)" placement="top" ngbTooltip="Edit in a Modal Window"><i class="fas fa-pen-square"></i></button>&nbsp;
                                <button class="btn btn-sm" (click)="deleteRow(rw, i)" placement="top" ngbTooltip="Delete the row"><i class="fas fa-trash"></i></button>
                            </td>
                            <td class="text-nowrap"><img src="{{ rw._source.LocationImage }}" width="80" height="80"/></td>
                            <td class="text-nowrap">{{ rw._source.LocationName }}</td>
                            <td class="text-nowrap">{{ rw._source.Town }}</td>
                            <td class="text-nowrap">{{ rw._source.PostCode }}</td>
                        </tr>
                        <tr *ngIf="DataCountRaw === 0">
                            <td colspan="5">You have not added any {{ LocationAlias }}s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadPrevious()">Previous</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadMore()">Next</button>
                    <button class="btn btn-primary btn-sm" (click)="addNewRecord()">Add {{ LocationAlias }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">{{ LocationAlias }}s I am a member of</div>
                <div class="card-body contains-table table-responsive">
                    <table class="table table-hover table-striped table-no-margin table-sm">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 100px;"></th>
                            <th>{{ LocationAlias }}</th>
                            <th>Invited By</th>
                            <th>Accepted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rw of PartOfList; let i = index;">
                            <td>
                                <button class="btn btn-sm" (click)="CheckIn(rw, i)" placement="top" ngbTooltip="Check in to {{ LocationAlias }}"><i class="fas fa-map-marked"></i> Check-In</button>&nbsp;
                            </td>
                            <td>
                                <button class="btn btn-sm" (click)="LeaveLocation(id, i)" placement="top" ngbTooltip="Leave the {{ LocationAlias }}"><i class="fas fa-trash"></i> Leave</button>
                            </td>
                            <td class="text-nowrap">{{ rw.LocationName }}</td>
                            <td class="text-nowrap">{{ rw.InvitedByName }}</td>
                            <td class="text-nowrap">{{ rw.AcceptedDate | date:'dd/MM/yyyy' }}</td>
                        </tr>
                        <tr *ngIf="PartOfListCnt === 0">
                            <td colspan="5">You not a member of any {{ LocationAlias }}s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadPrevious()">Previous</button>
                    <button *ngIf="ShowMore" class="btn btn-primary btn-sm" (click)="loadMore()">Next</button>
                    <button class="btn btn-primary btn-sm" (click)="addNewRecord()">Add {{ LocationAlias }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="card mb-3">
                <div class="card-header bg-primary text-white">Join a {{ LocationAlias }}</div>
                <div class="card-body">
                    <form role="form" [formGroup]="AcceptInviteForm">
                        <div class="form-group">
                            <label>Email address you received the invite against</label>
                            <input type="text" class="form-control input-underline input-lg" name="AccInvEmail" formControlName="AccInvEmail" placeholder="person@gmail.com">
                        </div>
                        <div class="form-group">
                            <label>Paste your invite code below</label>
                            <input type="text" class="form-control input-underline input-lg" name="AccInvCode" formControlName="AccInvCode" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm" (click)="AcceptInvite()">Accept Invite</button>
                </div>
            </div>
        </div>
    </div> 
</div>